
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <h2>这是一个home节点--DOM操作演示</h2>

<div id ="box">

    this is box
</div>

<br>

<div id="box1" *ngIf="flag"> 

  this is box1
</div>
<app-home></app-home>



<br>
<hr>
<br>

<app-news></app-news>



<br>
<hr>
<br> -->
<app-transition></app-transition>

<router-outlet></router-outlet>