<!--
 * @Author: your name
 * @Date: 2021-02-10 14:06:18
 * @LastEditTime: 2021-02-10 15:03:12
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \angulardemo08\src\app\app.component.html
-->
<h2>我是根组件</h2>

<header class="header">

  <!-- <a [routerLink]="[ '/home' ]">首页</a>

  <a routerLink= '/news' >新闻组件</a>

  <a [routerLink]="[ '/product' ]">商品</a> -->
<a [routerLink]="[ '/home' ]" routerLinkActive="active">首页</a>

<a [routerLink]="[ '/news' ]" routerLinkActive="active">新闻</a>

<a [routerLink]="[ '/product' ]" routerLinkActive="active">商品</a>
</header>
<router-outlet></router-outlet>