<!--
 * @Author: your name
 * @Date: 2021-02-10 14:12:43
 * @LastEditTime: 2021-02-21 22:21:47
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \angulardemo08\src\app\components\product\product.component.html
-->
<p>product works!</p>

<br>

<br>

<a [routerLink]="[ '/productcontent', 123 ]">跳转到商品详情</a>

<br>

<br>

<button (click)="goNewsContent()">js跳转商品详情</button>

<br>

<br>

<button (click)="goHome()">js跳转到首页</button>

<br>

<br>

<button (click)="goNews()">get传值跳转路由</button>